<p><a href="/adm_add_department">Add department</a> </p>
<p><a href="/adm_view_department">View department</a> </p>
<p><a href="/adm_add_course">Add course</a> </p>
<p><a href="/adm_view_course">View course</a> </p>
<p><a href="/adm_add_student">Add student</a> </p>
<p><a href="/adm_view_student">View student</a> </p>
<p><a href="/adm_add_staff">Add staff</a> </p>
<p><a href="/adm_view_staff">View staff</a> </p>
<p><a href="/adm_add_team">Add counselling team</a> </p>
<p><a href="/adm_view_team">View counselling team</a> </p>
<p><a href="/adm_add_tutor">Add tutor</a> </p>
<p><a href="/adm_view_feedback">View feedback</a> </p>
<p><a href="/adm_view_complaint">View complaint</a> </p>