{% extends "admin/index.html" %}
{% block body %}
<table class="table table-bordered">
    <tr style="background: #000;color: #fff;">
        <th>SL NO</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>PHONE</th>
        <th>QUALIFICATION</th>
        <th>DEPARTMENT</th>
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>
    {% for i in data %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.email }}</td>
        <td>{{ i.phone_number }}</td>
        <td>{{ i.qualification }}<br>Experience {{ i.experience }}</td>
        <td>{{ i.DEPARTMENT.dep_name }}</td>
        <td><a href="/adm_edit_staff/{{ i.id }}#abc" class="btn btn-info">Edit</a> </td>
        <td><a href="/adm_delete_staff/{{ i.LOGIN_id }}" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a> </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}