{% extends "staff/index.html" %}
{% block body %}
<form action="" method="post">
<table id="t1" class="container" align="center" >
  </table>
    <p></p>

    <table id="t3" align="center"></table>
    <table id="t4"  align="center"style="width: 600px;" class="container"></table><p></p>
    <table id="t2" align="center">
        <center>
        <div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2" style="width: 600px;">

            <input type="hidden" id="v"/>
            <input type="hidden" id="h"/>
            <input type="hidden" id="u" value="{{ u }}"/>

            </div>
</center>
{#    </div>#}
    </table>

</form>

<script type="text/javascript" src="/static/jquery.js"></script>
<script>
    $(document).ready(function () {
        function abc() {
            $.ajax({
            url: '/chatrply_chatbot',
            type: 'post',
            success: function (res) {
                var rid=$("#u").val();
                  a = res;
                  b = a.status;
                  if (b === "ok") {
                      s = a.data
                      d = a.id
                      var len = s.length;
                      $("#t4").text("");
                        for (i = 0; i <= len; i++) {
                            x = s[i];
                            s_id = x.type;
                            msg = x.chat;
                            name=x.nam;
                            dtime=x.dtime;
{#                            alert(msg)#}
                            if (s_id === 'student') {

{#                                $("#t4").append('<tr align="right"><td  ><span >' + msg + '</span></td> </tr>')#}
                                $("#t4").append('<div class="d-flex flex-row justify-content-end mb-4 pt-1"><div><p class="small mb-1 text-muted">'+ dtime +' &nbsp;&nbsp; <font color="black">'+ name +'</font></p></div></div>')
                                $("#t4").append('<div  class=" d-flex flex-row justify-content-end mb-4 pt-1"><div><p class="small p-2 me-3 mb-3 text-white rounded-3 bg-warning">'+ msg +'</p></div><img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp" alt="avatar 1" style="width: 45px; height: 100%;"></div>')

                            }
                            else {

{#                                $("#t4").append('<tr align="left" > <td class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;" ><span   class="small mb-0">' + msg + '</span></td></tr>')#}
                                $("#t4").append('<div class="d-flex flex-row justify-content-start"> <div> <p class="small p-2 ms-3 mb-3 rounded-3" >'+ dtime +' &nbsp;&nbsp; <font color="black">Bot</font></p> </div> </div>')
                                $("#t4").append('<div class="d-flex flex-row justify-content-start"> <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"alt="avatar 1" style="width: 50px; height: 50px;border-radius: 50%;"> <div> <p class="small p-2 ms-3 mb-3 rounded-3" style="background-color: #f5f6f7;">'+ msg +'</p> </div> </div>')
                            }

                        }
                    }

            },

            error: function (err) {
                bb = jQuery.parseJSON(err)
                alert("error")

            }
        });

        }
        aa=setInterval(abc,1000)
    });

    </script>
{% endblock %}